* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header {
    background-color:skyblue; 
    background-image: url(../img/pattern.png);
    background-size: 30%;
    padding: 2%;
}

.logo{
    width: 10%;
    margin-left: 8.3%;
}

main {
    margin-left: 10%;
    margin-right: 10%;
}

h1 {
    margin-top: 2%;
}

.informazioni-articolo {
    color: rgb(150, 150, 150);
}

.link {
    color: skyblue;
    font-style: normal;
}
