body {
    margin: 0px;
}

header {
    background-color:skyblue; 
    background-image: url(../img/pattern.png);
    background-size: 30%;
    padding: 30px;
}

.logo{
    width: 10%;
    margin-left: 8.3%;
}

main {
    margin-left: 10%;
    margin-right: 10%;
}

h1 {
    margin-bottom: 0;
}

.informazioni-articolo {
    color: rgb(150, 150, 150);
}

.informazione {
    margin: 0;
}

.link {
    color: skyblue;
    font-style: normal;
}

.contenitore-immagini {
    margin-top: 10px;
    width: 100
}

.immagine {
    height: 300px;
}

.descrizione-immagini {
    color: rgb(96, 96, 96);
}

.paragrafo {
    margin-top: 1%;
    font-size: small;

}

.lista {
    margin-top: 1%;
    padding-left: 0;
    font-weight: normal;
    font-size: small;
}

.tabella {
    margin-top: 1%;
    width: 100%;
    font-size: small;
}

.intestazione-tabella {
    background-color: rgb(161, 161, 255);
    color: white;
    text-align: left;
}

.riga-scura {
    background-color: rgb(230, 230, 255);
}

.riga-lunga {
    width: 50%;
}

.evidenziato {
    font-style: normal;
    background-color: yellow;
}

.banner-copyright {
    background-color: rgb(54, 54, 97);
    color: white;
    text-align: center;
    font-size: small;
    padding: 1px;
    margin-top: 40px;
}